<div class="mx-auto max-w-80vw">
  <div class="h100 w100">
    <div class="header pt-11 pb-11">
      <div class="items-center df space-between">
        <div>
          <img src="assets/logoza.png" height="60">
        </div>
        <div class="df">
          <div class="mail-text cxy mr-10">office@promore.online</div>
          <a class="button-get" href="mailto:office@promore.online">Get in touch</a>
        </div>

      </div>
    </div>
    <div class="text-and-gif">
      <div class="biggest-text">FULLSTACK<br> DEVELOPERS<br> TEAM</div>
      <div class="gif">
        <img src="assets/cubes.gif" height="">
      </div>

    </div>
    <div>
      <div class="green-text">
        <div class="emp-name ">We are strong and progressive team with a huge experience in developing in any kind of software, which goes in step with future.</div>
      </div>
    </div>
    <div class="mt-2vw tags df">
      <div class="total-b cxy">Angular</div>
      <div class="total-b cxy">HTML CSS</div>
      <div class="total-b cxy">Rest</div>
      <div class="total-b cxy">Server</div>
      <div class="total-b cxy">API</div>
      <div class="total-b cxy">Json</div>
      <div class="total-b cxy">XML</div>
      <div class="total-b cxy">Node.js</div>
      <div class="total-b cxy">Java</div>
      <div class="total-b cxy">UX/UI</div>
      <div class="total-b cxy">Frontend</div>
      <div class="total-b cxy">Backend</div>
      <div class="total-b cxy">WebDesign</div>
      <div class="total-b cxy">Frameworks</div>
    </div>
    <div class="footer df max-w-80rem mx-auto cxy">
      <div>© All Rights Reserved, 2022</div>
    </div>
  </div>
</div>







<!--  <div class="df max-w-80rem mx-auto space-between mt-8vw mb-8vw">-->
<!--    <div>-->
<!--      <img src="assets/bogdan.jpg" height="">-->
<!--      <div class="emp-name">Bogdan Isaev</div>-->
<!--      <div class="prof">Product Lead</div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <img src="assets/kokovin.jpg" height="">-->
<!--      <div class="emp-name">Sergei Kokovin</div>-->
<!--      <div class="prof">VP Development & Content<br> Strategy</div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <img src="assets/artem.jpg" height="">-->
<!--      <div class="emp-name">Artem Stropilov</div>-->
<!--      <div class="prof">COO</div>-->
<!--    </div>-->


